.bookNow:hover{
    color: rgb(0, 0, 0)  !important;
    background-color: greenyellow !important;
}
.confirmBooking:hover{
    color: rgb(0, 0, 0)  !important;
    background-color: greenyellow !important;
}